<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="menu">
	<div class="col-md-3 left_col">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="index.html" class="site_title"><i class="fa fa-paw"></i>
					<span>Spark LMS</span></a>
			</div>

			<div class="clearfix"></div>

			<br />

			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<ul class="nav side-menu">
						<li><a href="/"><i class="fa fa-home"></i>Dashboard</a></li>
						<li><a><i class="fa fa-user"></i> Members <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/member/add">Add New</a></li>
								<li><a href="/member/list">List</a></li>
							</ul></li>
						<li><a><i class="fa fa-sitemap"></i> Categories <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/category/add">Add New</a></li>
								<li><a href="/category/list">List</a></li>
							</ul></li>
						<li><a><i class="fa fa-book"></i> Books <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/book/add">Add New</a></li>
								<li><a href="/book/list">List</a></li>
							</ul></li>
						<li><a><i class="fa fa-cart-arrow-down"></i> Book Issue <span
								class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/issue/new">Issue New</a></li>
								<li><a href="/issue/list">List</a></li>
							</ul></li>
					</ul>
				</div>

			</div>
			<!-- /sidebar menu -->
		</div>
	</div>
</th:block>

</html>