<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spark LMS - Issue Form</title>

<th:block th:replace="fragments/styles :: common"></th:block>

</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<th:block th:replace="fragments/sidemenu :: menu"></th:block>
			<th:block th:replace="fragments/topmenu :: menu"></th:block>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>Issue Books</h2>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${successMsg}">
	                    			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			                    	<span th:text="*{successMsg}"></span>
			                  	</div>
								
								<div class="row">
                        			<div class="col-xs-12" >
	                          			<h3><span class="pull-right"><b>Issue Date:</b> <span th:text="${#dates.format(issueDate!=null?issueDate:#dates.createNow() , 'dd-MMM-yyyy')}"></span></span></h3>
                        			</div>
                    			</div>
								<br />
								<form class="form-horizontal form-label-left">
									<div class="row">
										<div class="col-sm-5">
										
											<div class="form-group">
						                    	<label class="control-label col-md-4 col-sm-4 col-xs-12">Member Type</label>
						                        <div class="col-md-8 col-sm-8 col-xs-12">
						                        	<select class="form-control" id="memberTypeSel">
						                        		<option value="">-- Select Member Type --</option>
						                        		<option th:each="mt : ${memberTypes}" th:value="${mt}" th:text="${mt}"></option>
						                        	</select>
						                        </div>
					                 		</div>
					                 		
					                 		<div class="form-group">
						                    	<label class="control-label col-md-4 col-sm-4 col-xs-12">Member</label>
						                        <div class="col-md-8 col-sm-8 col-xs-12">
						                        	<select class="form-control" id="memberSel">
						                        		<option value="">-- Select Member --</option>
						                        	</select>
						                        </div>
					                 		</div>
					                 		
										</div>
										<div class="col-sm-7" style="padding-left: 0px;">
										
											<div class="form-group">
						                    	<label class="control-label col-md-3 col-sm-3 col-xs-12">Category</label>
						                        <div class="col-md-6 col-sm-6 col-xs-12">
						                        	<select class="form-control" id="categorySel">
						                        		<option value="">-- Select Category --</option>
						                        		<option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
						                        	</select>
						                        </div>
						                        <div class="col-md-3 col-sm-3 col-xs-3" >
						                        	<button type="button" style="float:right;" id="addBookBtn" class="btn">Add Book</button>
						                        </div>
						                        
					                 		</div>
										
											<div class="form-group">
						                    	<label class="control-label col-md-3 col-sm-3 col-xs-12">Book</label>
						                        <div class="col-md-9 col-sm-9 col-xs-12">
						                        	<select class="form-control" id="booksSel">
						                        		<option value="">-- Select Book --</option>
						                        	</select>
						                        </div>
					                 		</div>
										
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 mt-10" style="border: 1px solid #E6E9ED; min-height: 200px;">
											<table id="issueBooksTable" class="table table-striped">
												<thead>
													<tr>
														<th style="width: 50px;">#</th>
														<th style="width: 120px;">Tag</th>
														<th>Title</th>
														<th>Author</th>
														<th style="width: 50px;">Action</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
									<div class="row mt-10">
										<div class="col-sm-12" >
											<button type="button" style="float:right; width: 150px;" id="saveBtn" class="btn btn-success">Issue Book(s)</button>
										</div>
									</div>
								</form>
								
									
								
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->

			<div class="modal fade errors-modal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title">Error(s)</h4>
						</div>
						<div class="modal-body">
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
						</div>

					</div>
				</div>
			</div>

			<th:block th:replace="fragments/footer :: footer"></th:block>

		</div>
	</div>

	<th:block th:replace="fragments/scripts :: common"></th:block>
	<script th:src="@{/custom/js/issue/form.js}"></script>
</body>
</html>